
.booking-successful-container {
    position: absolute;
    top: 20%;
    text-align: center;
    width: 75%;
left: 15%;
    background-color: white;
    border-radius: 15px;
}
.booking-successful-text-container{
    text-align: center;
    padding: 10%;
}
.booking-successful-header {
    text-align: center;
    padding-bottom: 30px;
    font-style: normal;
    color: #01194A;
}
