.profile-input {
    padding-top: 30px;
}

.profile-input input {
    position: relative;
    color: black;
    border: 2px solid lightgray;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    font-weight: lighter;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-left: 60px;
}

.profile-input-label {
    width: 250px;
}

.profile-name {
    font-size: 30px;
    color: #01194A;
}

.profile-description {
    color: gray;
    margin-top: 5px;
}