.profile-input {
    padding-top: 15px;
}

.profile-input input {
    position: relative;
    border: 2px solid lightgray;
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-left: 60px;
}

.profile-input-label {
    width: 250px;
}

.profile-name {
    font-size: 27px;
    color: #01194A;
}

.profile-description {
    color: gray;
    margin-top: 5px;
}

.profile-input-field-container{
    padding-top: 12px;
    padding-bottom: 12px;
}

.profile-input-field{
    border-radius: 10px;
    height: 30px;
    padding-left: 15px;
    width: 300px;
    outline: none;
    border: 5px solid #E5E5E5;
    background-color: #FFFFFF;
    font-size: 22px;
    font-style: normal;
    font-family: Asap;
    color: #576072;
}