.booking {
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.booking-container {
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 90%;
    margin-left: 150px;
}

.booking-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
}

.booking-park {
    display: flex;
    justify-content: center;
}


.booking-time-container {
    margin-bottom: 50px;
}

.booking-cost {
    color: #01194A;
    text-align: center;
}

.booking-cost h2 {
    font-weight: normal;
    text-decoration: underline;
    margin-bottom: 10px;
}

.booking-cost h3 {
    font-size: 40px;
    margin: 0;
}

.booking-button-container {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 50px;
}

.booking-error {
    padding-left: 3px;
    margin: 0;
    font-size: 30px;
    color: #800000;
}

.booking-submission-error {
    color: #800000;
    padding-left: 7px;
    padding-top: 25px;
    margin: 0;
    font-size: 25px;
}