.account-verification-check-email {
    height: 100%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
}

.account-verification-check-email-logo-container {
    width: 30%;
    background-color: #01194A;
    left: 0;
}

.account-verification-check-email-container {
    width: 70%;
    background-color: #E5E5E5;
    right: 0;
}

.account-verification-check-email-form {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.account-verification-check-email-text-container {
    text-align: center;
}

.mail-image {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    color: #01194A;
    margin-left: 30px;
}

.account-verification-check-email-header {
    text-align: center;
    color: #01194A;
    font-size: 40px;
    line-height: 46px;
    padding: 20px 0;
    font-weight: normal;
    margin: 0;
    font-style: normal;
}

.account-verification-check-email-text {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    color: rgba(87, 96, 114, 0.65);
    font-size: 21px;
    margin: 0;
    line-height: 35px;
}

.user-text-mail {
    color: #4A2CFC;
    margin: 0;
}

.account-verification-check-email-resend-text-container {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    color: rgba(87, 96, 114, 0.65);
    font-size: 21px;
    padding-top: 40px;
}

.resend-text {
    font-size: 21px;
    color: #4A2CFC;
    cursor: pointer;
}