.modal {
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-container {
    position: absolute;
    top: 20%;
    right: 18%;
    height: 230px;
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    text-align: center;
    width: 48%;
}

.modal img {
    padding-top: 20px;
    height: 60px;
    width: 60px;
    margin-left: 60px;
    color: #800000;
}

.modal-header {
    text-align: center;
    color: #01194A;
    font-size: 20px;
    line-height: 46px;
    padding-bottom: 40px;
    padding-top: 10px;
    font-weight: bold;
    margin: 0;
    font-style: normal;
}