.profile-input {
    padding-top: 15px;
    display: flex;
    justify-content: flex-start !important;
}

.profile-input input {
    position: relative;
    border: 1px solid lightgray;
    padding: 13px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-left: 60px;
}

.profile-input-label {
    width: 200px;
    padding-top: 7px;
}

.profile-name {
    font-size: 31px;
    color: #01194A;
}

.profile-description {
    color: gray;
    margin-top: 5px;
}

.profile-input-field-container{
    padding-bottom: 12px;
}

.profile-input-field{
    border-radius: 10px;
    height: 30px;
    padding-left: 15px;
    width: 300px;
    outline: none;
    border: 5px solid #E5E5E5;
    background-color: #FFFFFF;
    font-size: 22px;
    font-weight: 100;
    font-style: normal;
    font-family: Asap;
    color: #576072;
}
.profile-error-text{
    font-size: 16px;
    padding: 7px 0 0 48px;
    color: #800000;
    display: none;
}
input:invalid[focused = "true"]{
    border: 1px solid #800000;
}
input:invalid[focused = "true"] ~ span{
    display: block;
}
::placeholder {
    color: grey;
    font-size: medium;
}