.booking-navigation {
    z-index: 800;
}

.profile-nav-container {
    position: relative;
    float: right;
    padding-right: 20px;
    padding-top: 10px;
    z-index: 10;
    cursor: pointer;
}

.booking-logo-container {
    position: fixed;
    width: 10%;
    left: 0;
    min-width: 100px;
    max-width: 100px;
}

.booking-header-container {
    display: flex;
    justify-content: center;
    margin-left: 180px;
}

.booking-header {
    position: unset !important;
    text-align: center;
    color: #01194A;
    font-size: 40px;
    line-height: 46px;
    font-style: normal;
}