.new-password {
    height: 100%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
}
.new-password-text-container {
    text-align: center;
}
.key-image {
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 43px;
    height: 39px;
}
.logo-container {
    width: 30%;
    left: 0;
    background-color: #01194A;
}

.new-password-container {
    right: 0;
    background-color: #E5E5E5;
    width: 70%;
}

.new-password-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new-password-header {
    text-align: center;
    color: #01194A;
    font-size: 40px;
    line-height: 46px;
    padding: 20px 40px 10px 0;
    font-weight: normal;
    margin: 0;
    font-style: normal;
}
.new-password-text {
    text-align: center;
    width: 500px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-style: normal;
    font-weight: normal;
    color: rgba(87, 96, 114, 0.65);
}
.new-password-button-container {
    padding-top: 20px;
}