.reset-password {
    height: 100%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
}

.reset-password-text-container {
    text-align: center;
}

.key-image {
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 43px;
    height: 39px;
}

.logo-container {
    width: 30%;
    left: 0;
    background-color: #01194A;
}

.reset-password-container {
    right: 0;
    background-color: #E5E5E5;
    width: 70%;
}

.reset-password-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reset-password-header {
    text-align: center;
    color: #01194A;
    font-size: 40px;
    line-height: 46px;
    padding: 0 40px 0 0;
    font-weight: normal;
    margin: 0;
    font-style: normal;
}

.reset-password-text {
    text-align: center;
    width: 500px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-style: normal;
    font-weight: normal;
    color: rgba(87, 96, 114, 0.65);
}

.reset-password-button-container {
    padding-top: 20px;
}
.reset-password-submission-error{
    color: #800000;
    padding-left: 3px;
    margin: 0;
}