
.container{
    align-items: center;
    min-height: 100vh;
    background-color: #E5E5E5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Asap', sans-serif;
    font-style: normal;
}

.form-content-left{
    position: absolute;
    width: 500px;
    height: 1024px;
    left: 0;
    top: 0;
    background: #01194A;
}
.form-content-right{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.park-logo{
    position: absolute;
    width: 137px;
    height: 95px;
    left: 182px;
    top: 409px;
    font-style: italic;
    font-weight: normal;
    font-size: 68px;
    line-height: 95px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
    padding-left: 250px;
    background-color: #E5E5E5;

}
.sign-in{
    position: absolute;
    width: fit-content;
    height: 55px;
    left: 858px;
    top: 135px;

    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.02em;
    color: #000000;
}
h5{
    position: absolute;
    width: 335px;
    height: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #576072;

}
.form-input-email{
    position: absolute;
    width: 700px;
    height: 88px;
    left: 612px;
    top: 368px;
    background: #FFFFFF;
    border: 4px solid #E5E5E5;
    box-sizing: border-box;
    outline: none;
    font-size: 30px;
    border-radius: 10px;
}
.form-input-password{
    position: absolute;
    width: 700px;
    height: 88px;
    left: 612px;
    top: 548px;
    font-size: 30px;
    background: #FFFFFF;
    outline: none;
    border: 4px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
}
.form-label-email{
    position: absolute;
    width: 58px;
    height: 30px;
    left: 612px;
    top: 317px;

    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #576072;
}
.form-label-password{
    position: absolute;
    width: 108px;
    height: 30px;
    left: 612px;
    top: 497px;

    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;

    color: #576072;
}
.form-input-btn{
    position: absolute;
    width: 700px;
    height: 88px;
    left: 612px;
    top: 734px;
    background: #01194A;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0 11px 15px #FFFFFF;
    border-radius: 10px;
}

.form-input-forgot{
    position: absolute;
    width: 199px;
    height: 30px;
    left: 1113px;
    top: 670px;

    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #4A2CFC;
}
.btn-sign-in{
    /*position: absolute;*/
    /*width: 95px;*/
    height: 37px;
    /*left: 911px;*/
    /*top: 760px;*/
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #FFFFFF;

}