.sidebar {
    position: absolute;
    top: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: #01194A;
    padding-top: 50px;

}

.sidebar-content {
    margin-top: 80px;
    padding-left: 100px;
}

.sidebar img {
    width: 30px;
    height: 30px;
}

.sidebar h1 {
    font-size: 15px;
    font-weight: normal;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.sidebar .logo-link {
    padding-left: 30px;
    display: flex;
    padding-bottom: 60px;
    text-decoration: none;
}