.forgot-password {
    height: 100%;
    position: fixed;
    top: 0;
    overflow-x: hidden;

}
.logo-container{
    width: 30%;
    background-color: #01194A;
    left: 0;
}
.forgot-password-container {
    width: 70%;
    background-color: #E5E5E5;
    right: 0;
}
img{
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 43px;
    height: 39px;
}
.image-text-container{
    text-align: center;

}

.forgot-password-form{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.forgot-password-header{
    text-align: center;
    color: #01194A;
    font-size: 40px;
    line-height: 46px;
    padding: 20px 40px 20px 0;
    font-weight: normal;
    margin: 0;

}
.forgot-password-text{
    text-align: center;
    width: 500px;
    padding-bottom: 30px;
    padding-left: 30px;
    font-style: normal;
    font-weight: normal;
    color: rgba(87, 96, 114, 0.65);
}
.button-container{
    padding-top: 20px;
}