.react-datepicker-wrapper .react-datepicker__input-container input {
    background-color: white;
    width: 545px;
    height: 70px;
    border: 3px solid #E5E5E5;
    border-radius: 8px;
    text-align: center
}

.checkin-checkout {
    margin-top: 60px;
    margin-left: -280px;
}

.checkin-checkout-time-range {
    margin-right: 10px;
}

h3 {
    margin-left: 200px;
    color: #01194A;
}