.react-datepicker-wrapper .react-datepicker__input-container input {
    background-color: white;
    width: 350px;
    height: 70px;
    border: 3px solid #E5E5E5;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.checkin-checkout {
    padding-left: 30px;
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}
.checkin-checkout-time-range {
    margin-right: 10px;
}

h3 {
    margin-left: 95px;
    color: #01194A;
}