/* Landing Page */

.LandingPage {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #EEF1F7;
}


/* Rectangle 60 */

.LandingPage rectanglesixty {
    position: absolute;
    width: 827px;
    height: 1024px;
    left: 612px;
    top: 0px;

    background: #01194A;
    border-radius: 3px;
}


/* Rectangle 58 */
.LandingPage rectanglefiftyeight {
    position: absolute;
    width: 190px;
    height: 60px;
    left: 1176px;
    top: 33px;

    background: #FFFFFF;
    border-radius: 10px;
}


/* Rectangle 59 */
.LandingPage rectanglefiftynine {
    position: absolute;
    width: 190px;
    height: 60px;
    left: 954px;
    top: 33px;

    background: #FFFFFF;
    border-radius: 10px;
}


/* Sign In */
.LandingPage signin {
    position: absolute;
    width: 77px;
    height: 30px;
    left: 1010px;
    top: 48px;

    font-family: Asap;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    /* identical to box height */
    text-transform: capitalize;

    color: #4A2CFC;
}


/* Sign Up */
.LandingPage signup {
    position: absolute;
    width: 89px;
    height: 30px;
    left: 1226px;
    top: 48px;

    font-family: Asap;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    /* identical to box height */
    text-transform: capitalize;

    color: #4A2CFC;
}


/* Pricing */
.LandingPage pricing {
    position: absolute;
    width: 80px;
    height: 30px;
    left: 644px;
    top: 48px;

    font-family: Asap;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    /* identical to box height */
    text-transform: capitalize;

    color: #FFFFFF;
}


/* About */
.LandingPage about {
    position: absolute;
    width: 69px;
    height: 30px;
    left: 505px;
    top: 48px;

    font-family: Asap;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    /* identical to box height */
    text-transform: capitalize;

    color: #01194A;
}


/* Contact */

.LandingPage contact {

    position: absolute;
    width: 90px;
    height: 30px;
    left: 794px;
    top: 48px;

    font-family: Asap;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    /* identical to box height */
    text-transform: capitalize;

    color: #FFFFFF;
}


/* Fast, Affordable and Convinient Parking Platform.Its an easy to use next generation platform for improving efficiency and enhancing customers experience. */
.LandingPage fastAfordable {
    position: absolute;
    width: 692px;
    height: 105px;
    left: 75px;
    top: 486px;

    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    /* or 146% */
    text-transform: capitalize;

    color: #576072;
}


/* Get Your Car Parked Safely With OPark */
.LandingPage carpark {
    position: absolute;
    width: 649px;
    height: 198px;
    left: 75px;
    top: 249px;

    font-family: Asap;
    font-style: normal;
    font-weight: 500;
    font-size: 68px;
    line-height: 95px;
    /* or 140% */
    letter-spacing: 0.01em;
    text-transform: capitalize;

    color: #01194A;
}


/* Rectangle 61 */
.LandingPage rectanglesixyone {
    position: absolute;
    width: 250px;
    height: 75px;
    left: 75px;
    top: 630px;

    background: #01194A;
    border-radius: 53px;

}


/* Learn More */
.LandingPage learnMore {
    position: absolute;
    width: 121px;
    height: 35px;
    left: 139px;
    top: 650px;

    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height, or 146% */

    color: #FFFFFF;
}


/* Park */
.LandingPage park {
    position: absolute;
    width: 137px;
    height: 95px;
    left: 82px;
    top: 25px;

    font-family: Asap;
    font-style: italic;
    font-weight: normal;
    font-size: 68px;
    line-height: 95px;
    /* identical to box height, or 140% */
    letter-spacing: 0.01em;
    text-transform: capitalize;

    color: #425A8A;
}


