.user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    background-color: #E5E5E5;
    height: 100vh;
}

.profile-header-name {
    color: #01194A;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.user-profile-logo-container {
    position: fixed;
    width: 5%;
    left: 0;
    min-width: 100px;
    max-width: 100px;
}

.user-profile-content {
    top: 20px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    width: 85%;
    max-width: 90%;
    margin-right: 15px;
    right: 0;
}

.user-profile-container {
    display: flex;
    justify-content: center;
    flex-direction: column !important;
    background-color: #E5E5E5;
    padding: 30px 30px 0 40px;
    border-radius: 15px;
}

@media screen and (max-width: 990px) {
    .user-profile-container {
        width: 76%;
    }
}

.profile-input-gender {
    margin-left: 55px;
    font-size: 20px;
    color: #01194A;
    margin-top: 40px;
}

.user-profile-button-container {
    padding-bottom: 30px;
    padding-top: 40px;
    margin-left: 25%;
}

.profile-image {
    width: 50px;
    margin-left: 108px;
}

.profile-picture-name {
    font-weight: normal;
    color: #01194A;
}

.profile-input-gender input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.profile-input-gender input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #01194A;;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
