.user-profile {
    position: relative;
    top: 0;
    height: 100%;
    overflow: hidden;
}

.profile-header-name {
    position: relative;
    color: #01194A;
    font-weight: bold;
    text-align: center;
    right: -6.5%;
}

.user-profile-container {
    background: white;
    margin-top: 10px;
    margin-left: 180px;
    width: 80vw;
    padding: 30px 30px 10px 20px;
    justify-content: center;
    border-radius: 15px;
}

@media screen and (max-width: 990px) {
    .user-profile-container {
        width: 76%;
    }
}

.profile-input-gender {
    margin-left: 55px;
    font-size: 20px;
    color: #01194A;
    margin-top: 40px;
}

.user-profile-button-container {
    padding-bottom: 30px;
    padding-top: 40px;
    margin-left: 25%;
}

.profile-image {
    width: 50px;
    margin-left: 108px;
}

.profile-picture-name {
    font-weight: normal;
    color: #01194A;
}

