.user-profile {
    position: relative;
    top: 0;
    height: 100%;
}

.profile-header-name {
    position: relative;
    color: #01194A;
    font-weight: lighter;
    text-align: center;
    right: -6.5%;
}

.user-profile-container {
    background: white;
    margin-left: 15%;
    width: 78%;
    padding: 30px;
    justify-content: center;
    border-radius: 15px;
}

.profile-header {
    text-align: center;
    color: #01194A;
    font-weight: lighter;
}

.user-profile-button-container {
    padding-bottom: 30px;
    padding-top: 20px;
    margin-left: 25%;
}

.profile-image {
    width: 50px;
    margin-left: 108px;
}

.profile-picture-name {
    font-weight: normal;
    color: #01194A;
}
