.parking-detail {
    margin-top: 40px;
    position: relative;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 15px;
    height: 100px;
    left: 20%;
    width: 850px;
}

.parking-detail-label {
    font-weight: bold;
    color: #01194A;
    font-size: 20px;
}

.parking-detail-container {
    position: absolute;
    margin-left: 10%;
}

.parking-detail-time {
    margin-right: 200px;
    text-align: center;
    width: 70%;
}

.parking-detail-time h5 {
    color: #576072;
    font-weight: bold;
}

