.booking-history {
    position: relative;
    top: 0;
    height: 100%;
    overflow: hidden;

}

.booking-history-year-picker {
    float: right;
    padding-right: 30px;
}

.booking-header {
    position: relative;
    color: #01194A;
    font-weight: bold;
    margin-left: 45%;
}
