.booking-history {
    height: 100%;
}

.booking-history-nav-bar {
    position: inherit;
    padding-bottom: 30px;
}

.booking-status-drop-down {
    left: 0;
    z-index: 2;
}

.booking-history-container {
    display: flex;
    align-items: center;
    flex-direction: column !important;
    justify-content: center;
    width: 90%;
    max-width: 90%;
    margin-left: 130px;
}

.booking-drop-down-year-picker {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.booking-history-year-picker {
    padding-left: 850px;
}

.booking-status-drop-down {
    padding-top: 2px;
}

.booking-history-year-picker .react-datepicker__input-container input {
    width: 100px !important;
    border-radius: 10px;
    height: 43px !important;
}
.booking-history-error{
    margin-top: 20px;
    padding-left: 10px;
    font-size: 30px;
    color: #800000;
}
