.booking-history {
    height: 100%;
    min-height: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*position: relative;*/

}

.booking-status-drop-down {
    left: 0;
    z-index: 30;
}

.booking-history-logo-container {
    position: fixed;
    width: 10%;
    left: 0;
    min-width: 100px;
    max-width: 100px;
}

.booking-history-container {
    display: flex;
    align-items: center;
    flex-direction: column !important;
    justify-content: center;
    width: 90%;
    max-width: 90%;
    margin-left: 130px;
    overflow-y: auto;

}


/*.booking-history-header {*/
/*    !*position: unset !important;*!*/
/*    text-align: center;*/
/*    padding-bottom: 40px;*/
/*    color: #01194A;*/
/*    font-size: 40px;*/
/*    line-height: 46px;*/
/*    font-style: normal;*/
/*}*/


.booking-drop-down-year-picker {
    display: flex;
    justify-content: space-around;
}

.booking-history-year-picker {
    padding-left: 850px;
}

.booking-status-drop-down {
    padding-top: 2px;
}

.booking-history-year-picker .react-datepicker__input-container input {
    width: 100px !important;
    border-radius: 10px;
    height: 43px !important;
}

